extends ./layout.jade
block content
    table
        thead
            tr
                th= 'Model'
                th= 'Display'
                th= 'Processor'
                th= 'OS'
                th= 'Color'
                th= 'Price'
        tbody
            each tablet in site.tablets
                tr
                    td= tablet.model
                    td= tablet.display
                    td= tablet.processor
                    td= tablet.os
                    td= tablet.color
                    td= tablet.price